# Secrets
.env
.env.local
.env.act

# Dependencies
node_modules/
vendor/

# Build outputs
backend/main
backend/app
backend/.gocache/
frontend/dist/
frontend/build/

# OS files
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# build output
docs/dist/

# generated types
docs/.astro/

# dependencies
docs/node_modules/




megalinter-reports/
